// Defining primary & secondary colour variables
$primary: #4C0341;
$secondary: #add8e6;

body {
  background-color: $secondary;
}

// create a button definition function to be used over and over again
@mixin button-def ($btn-transform, $btn-color, $btn-bgd-color, $btn-padding, $btn-border, $btn-font-size) {
  text-transform: $btn-transform;
  color: $btn-color;
  background-color: $btn-bgd-color;
  padding: $btn-padding;
  border: $btn-border;
  font-size: $btn-font-size;
}

// create a function for icons moving from bottom to the top of screen using the animate CDN
@mixin icons-moving-up ($icon-color, $icon-left) {
  --animate-duration: 5s;
  color: $icon-color; 
  filter: contrast(40%);
  position: absolute;
  left: $icon-left;
  bottom: 0;
  font-size: 10rem;
}

// create a function for icons moving from the top to bottom of screen using animations
@mixin icons-moving-down ($icon-color, $icon-left) {
  --animate-duration: 5s;
  color: $icon-color; 
  filter: contrast(40%);
  position: absolute;
  left: $icon-left;
  top: 0;
  font-size: 10rem;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}


