main .play {
  min-height: 100vh;

  h2 {
    margin-top: 40px;
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    .flex-spaces {
      font-size: 6rem;
      margin-top: 20px;
    }
    .img-container {
      padding: 0 10px;
      width: 300px;
      img {
        width: 100%;
        border: solid 5px #fff;
      }
      #timer {
        background: linear-gradient(to right, #1cd8d2, #93edc7);
      }
      .timer-alert {
        animation: blinds 1s ease-in-out infinite alternate; // create alert animations when timer starts to get closer to zero!
      }
    }
  }
  
  .guess-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 3rem;

    input {
      width: 50%;
      background: linear-gradient(to right, #1cd8d2, #93edc7);
      color: black;
    }
  }
}

// create alert animations when timer starts to get closer to zero!
@keyframes blinds {
  to {
    background: linear-gradient(to right, #c21500, #ffc500);
  }
}