// GAME OVER / GAME WON media queries 
// Portrait tablet and small desktops 
@media (max-width: 1241px) {
  .results-icons {
    li:nth-child(1) {left: 100px;} 
    li:nth-child(2) {left: 200px;} 
    li:nth-child(3) {left: 300px;}
    li:nth-child(4) {left: 400px;}
    li:nth-child(5) {left: 500px;}
    li:nth-child(6) {left: 600px;}
    li:nth-child(7) {left: 700px;}
    li:nth-child(8) {left: 800px;}

    // margin-left: 200px;

    li:nth-child(9), li:nth-child(10), li:nth-child(11), li:nth-child(12), li:nth-child(13), li:nth-child(14), li:nth-child(15), li:nth-child(16) {
      top: 0;
    }

    li:nth-child(9) {left: 100px;} 
    li:nth-child(10) {left: 200px;} 
    li:nth-child(11) {left: 300px;}
    li:nth-child(12) {left: 400px;}
    li:nth-child(13) {left: 500px;}
    li:nth-child(14) {left: 600px;}
    li:nth-child(15) {left: 700px;}
    li:nth-child(16) {left: 800px;}
  }
}