html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}

h1, h2, p {
  margin: 0;
}

header {
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  font-size: 6rem;
  margin-bottom: 20px;
}

header p {
  font-size: 3rem;
  margin-bottom: 20px;
}

header p:nth-of-type(1) {
  text-transform: uppercase;
}

header button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  padding: 5px 15px;
  border: none;
  font-size: 3rem;
  width: 200px;
  height: 70px;
}

header button:hover, header button:focus {
  background-color: orangered;
  cursor: pointer;
}

main .play {
  min-height: 100vh;
  font-size: 5rem;
}

main .play h2 {
  text-align: center;
}

main .play .grid-container {
  display: -ms-grid;
  display: grid;
  gap: 0px 40px;
      grid-template-areas: "grid-item1 grid-item2" "grid-item1 grid-item2";
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
}

main .play .grid-container .grid-item1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: grid-item1;
}

main .play .grid-container .grid-item2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: grid-item2;
  -ms-grid-rows: 1fr 4fr;
      grid-template-rows: 1fr 4fr;
}

main .play .grid-item2 {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "grid-timer" "grid-spaces";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .play .grid-item2 .grid-timer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: grid-timer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(100%, #75ff30), color-stop(0, #75ff30));
  background-image: linear-gradient(90deg, #75ff30 100%, #75ff30 0);
  -webkit-animation: blinds 1s ease-in-out infinite alternate;
          animation: blinds 1s ease-in-out infinite alternate;
}

main .play .grid-item2 .grid-spaces {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: grid-spaces;
  margin-bottom: 90px;
  font-size: 10rem;
}

main .play .guess-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
  font-size: 3rem;
}

.winner {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.winner h2 {
  font-size: 5rem;
}

.winner button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  padding: 5px 15px;
  border: none;
  font-size: 3rem;
  width: 200px;
  height: 70px;
}

.winner button:hover, .winner button:focus {
  background-color: orangered;
  cursor: pointer;
}

.game-over {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.game-over h2 {
  font-size: 5rem;
}

.game-over button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  padding: 5px 15px;
  border: none;
  font-size: 3rem;
  width: 200px;
  height: 70px;
}

.game-over button:hover, .game-over button:focus {
  background-color: orangered;
  cursor: pointer;
}
