html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #add8e6;
}

html {
  font-size: 62.5%;
}

.wrapper {
  max-width: 1240px;
  width: 85%;
  margin: 0 auto;
}

h1, h2 {
  font-family: 'Rufina', serif;
}

p, button, input {
  font-family: 'Oxygen', sans-serif;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h2, p {
  text-align: center;
}

p {
  font-size: 3rem;
  line-height: 1.5;
}

h1, h2, p {
  margin: 0;
}

li {
  list-style-type: none;
}

header {
  min-height: 100vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header h1 {
  margin-bottom: 20px;
}

header p {
  margin-bottom: 20px;
}

header p:nth-of-type(1) {
  text-transform: uppercase;
  font-style: italic;
}

header button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  padding: 5px 15px;
  border: none;
  font-size: 3rem;
  width: 200px;
  height: 70px;
}

header button:hover, header button:focus {
  background-color: orangered;
  cursor: pointer;
}

main .play {
  min-height: 100vh;
}

main .play h2 {
  margin-top: 40px;
}

main .play .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

main .play .flex-container .flex-spaces {
  font-size: 6rem;
  margin-top: 20px;
}

main .play .flex-container .img-container {
  padding: 0 10px;
  width: 300px;
}

main .play .flex-container .img-container img {
  width: 100%;
  border: solid 5px #fff;
}

main .play .flex-container .img-container #timer {
  background: -webkit-gradient(linear, left top, right top, from(#1cd8d2), to(#93edc7));
  background: linear-gradient(to right, #1cd8d2, #93edc7);
}

main .play .flex-container .img-container .timer-alert {
  -webkit-animation: blinds 1s ease-in-out infinite alternate;
          animation: blinds 1s ease-in-out infinite alternate;
}

main .play .guess-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  font-size: 3rem;
}

main .play .guess-container input {
  width: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#1cd8d2), to(#93edc7));
  background: linear-gradient(to right, #1cd8d2, #93edc7);
  color: black;
}

@-webkit-keyframes blinds {
  to {
    background: -webkit-gradient(linear, left top, right top, from(#c21500), to(#ffc500));
    background: linear-gradient(to right, #c21500, #ffc500);
  }
}

@keyframes blinds {
  to {
    background: -webkit-gradient(linear, left top, right top, from(#c21500), to(#ffc500));
    background: linear-gradient(to right, #c21500, #ffc500);
  }
}

.results {
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.results h2 {
  margin-bottom: 20px;
}

.results .home-page-btn {
  margin-left: 20px;
}

.results button {
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #4C0341;
  padding: 5px 15px;
  border: none;
  font-size: 2.8rem;
  width: 200px;
  height: 70px;
}

.results button:hover, .results button:focus {
  background-color: orangered;
  cursor: pointer;
}

.results li:nth-child(1) {
  --animate-duration: 5s;
  color: darkmagenta;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(2) {
  --animate-duration: 5s;
  color: blue;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 100px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(3) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 200px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(4) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 300px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(5) {
  --animate-duration: 5s;
  color: blue;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 400px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(6) {
  --animate-duration: 5s;
  color: darkmagenta;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 500px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(7) {
  --animate-duration: 5s;
  color: darkmagenta;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 600px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(8) {
  --animate-duration: 5s;
  color: blue;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 700px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(9) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 800px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(10) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 900px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(11) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 1000px;
  bottom: 0;
  font-size: 10rem;
}

.results li:nth-child(12) {
  --animate-duration: 5s;
  color: darkmagenta;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 0;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(13) {
  --animate-duration: 5s;
  color: blue;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 100px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(14) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 200px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(15) {
  --animate-duration: 5s;
  color: black;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 300px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(16) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 400px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(17) {
  --animate-duration: 5s;
  color: blue;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 500px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(18) {
  --animate-duration: 5s;
  color: darkmagenta;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 600px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(19) {
  --animate-duration: 5s;
  color: black;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 700px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(20) {
  --animate-duration: 5s;
  color: darkmagenta;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 800px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(21) {
  --animate-duration: 5s;
  color: blue;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 900px;
  top: 0;
  font-size: 10rem;
}

.results li:nth-child(22) {
  --animate-duration: 5s;
  color: red;
  -webkit-filter: contrast(40%);
          filter: contrast(40%);
  position: absolute;
  left: 1000px;
  top: 0;
  font-size: 10rem;
}

@media (max-width: 900px) {
  header h1 {
    font-size: 5rem;
  }
}

@media (max-width: 750px) {
  header h1 {
    font-size: 4rem;
  }
  header p {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  header {
    text-align: center;
  }
  header h1 {
    font-size: 3rem;
  }
  header p {
    font-size: 2rem;
  }
  header button {
    font-size: 2rem;
    width: 125px;
    height: 50px;
  }
}

@media (max-width: 450px) {
  header h1 {
    font-size: 2.5rem;
  }
  header p {
    font-size: 1.5rem;
  }
  header button {
    font-size: 2rem;
    width: 125px;
    height: 50px;
  }
}

@media (max-width: 400px) {
  header p {
    line-height: 2;
  }
}

@media (max-width: 300px) {
  header p {
    font-size: 1rem;
  }
  header p:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 1000px) {
  .play #guess {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .play h2 {
    font-size: 4rem;
  }
  .play #guess {
    font-size: 2rem;
  }
}

@media (max-width: 600px) {
  .play h2 {
    font-size: 2.5rem;
  }
  .play #guess {
    font-size: 1.2rem;
    height: 30px;
  }
  .play #spaces {
    font-size: 3.5rem;
  }
}

@media (max-width: 400px) {
  .play h2 {
    font-size: 2rem;
  }
  .play #guess {
    font-size: 1.5rem;
    width: 66%;
  }
  .play #spaces {
    font-size: 3rem;
  }
}

@media (max-width: 350px) {
  .play #guess {
    font-size: 1.5rem;
    width: 77%;
  }
  .play #spaces {
    font-size: 2.8rem;
  }
  main .play .flex-container .img-container {
    width: 250px;
  }
}

@media (max-width: 300px) {
  .play #guess {
    font-size: 1.5rem;
    width: 89%;
  }
  .play #spaces {
    font-size: 2.2rem;
    margin-top: 0;
  }
  main .play .guess-container {
    margin-top: 0;
  }
  main .play .flex-container .img-container {
    width: 200px;
  }
}

@media (max-width: 1241px) {
  .results-icons li:nth-child(1) {
    left: 100px;
  }
  .results-icons li:nth-child(2) {
    left: 200px;
  }
  .results-icons li:nth-child(3) {
    left: 300px;
  }
  .results-icons li:nth-child(4) {
    left: 400px;
  }
  .results-icons li:nth-child(5) {
    left: 500px;
  }
  .results-icons li:nth-child(6) {
    left: 600px;
  }
  .results-icons li:nth-child(7) {
    left: 700px;
  }
  .results-icons li:nth-child(8) {
    left: 800px;
  }
  .results-icons li:nth-child(9), .results-icons li:nth-child(10), .results-icons li:nth-child(11), .results-icons li:nth-child(12), .results-icons li:nth-child(13), .results-icons li:nth-child(14), .results-icons li:nth-child(15), .results-icons li:nth-child(16) {
    top: 0;
  }
  .results-icons li:nth-child(9) {
    left: 100px;
  }
  .results-icons li:nth-child(10) {
    left: 200px;
  }
  .results-icons li:nth-child(11) {
    left: 300px;
  }
  .results-icons li:nth-child(12) {
    left: 400px;
  }
  .results-icons li:nth-child(13) {
    left: 500px;
  }
  .results-icons li:nth-child(14) {
    left: 600px;
  }
  .results-icons li:nth-child(15) {
    left: 700px;
  }
  .results-icons li:nth-child(16) {
    left: 800px;
  }
}

@media (max-width: 1040px) {
  .results-icons li:nth-child(1) {
    left: 100px;
  }
  .results-icons li:nth-child(2) {
    left: 200px;
  }
  .results-icons li:nth-child(3) {
    left: 300px;
  }
  .results-icons li:nth-child(4) {
    left: 400px;
  }
  .results-icons li:nth-child(5) {
    left: 500px;
  }
  .results-icons li:nth-child(6) {
    left: 600px;
  }
  .results-icons li:nth-child(7), .results-icons li:nth-child(8), .results-icons li:nth-child(9), .results-icons li:nth-child(10), .results-icons li:nth-child(11), .results-icons li:nth-child(12) {
    top: 0;
  }
  .results-icons li:nth-child(7) {
    left: 100px;
  }
  .results-icons li:nth-child(8) {
    left: 200px;
  }
  .results-icons li:nth-child(9) {
    left: 300px;
  }
  .results-icons li:nth-child(10) {
    left: 400px;
  }
  .results-icons li:nth-child(11) {
    left: 500px;
  }
  .results-icons li:nth-child(12) {
    left: 600px;
  }
}

@media (max-width: 800px) {
  .results-icons li:nth-child(1) {
    left: 100px;
  }
  .results-icons li:nth-child(2) {
    left: 200px;
  }
  .results-icons li:nth-child(3) {
    left: 300px;
  }
  .results-icons li:nth-child(4) {
    left: 400px;
  }
  .results-icons li:nth-child(5), .results-icons li:nth-child(6), .results-icons li:nth-child(7), .results-icons li:nth-child(8) {
    top: 0;
  }
  .results-icons li:nth-child(5) {
    left: 100px;
  }
  .results-icons li:nth-child(6) {
    left: 200px;
  }
  .results-icons li:nth-child(7) {
    left: 300px;
  }
  .results-icons li:nth-child(8) {
    left: 400px;
  }
}

@media (max-width: 650px) {
  .results h2 {
    font-size: 4rem;
  }
  .results-btn-container button {
    width: 170px;
    font-size: 2.2rem;
  }
  .results-icons li:nth-child(1) {
    left: 100px;
  }
  .results-icons li:nth-child(2) {
    left: 300px;
  }
  .results-icons li:nth-child(3), .results-icons li:nth-child(4) {
    top: 0;
  }
  .results-icons li:nth-child(3) {
    left: 100px;
  }
  .results-icons li:nth-child(4) {
    left: 300px;
  }
}

@media (max-width: 500px) {
  .results h2 {
    font-size: 3rem;
  }
  .results-btn-container button {
    width: 140px;
    font-size: 2rem;
  }
  .results-icons li:nth-child(1) {
    left: 100px;
  }
  .results-icons li:nth-child(2) {
    left: 200px;
  }
  .results-icons li:nth-child(3), .results-icons li:nth-child(4) {
    top: 0;
  }
  .results-icons li:nth-child(3) {
    left: 100px;
  }
  .results-icons li:nth-child(4) {
    left: 200px;
  }
}

@media (max-width: 400px) {
  .results-btn-container button {
    width: 120px;
    font-size: 1.5rem;
  }
  .results-icons li:nth-child(1) {
    left: 50px;
  }
  .results-icons li:nth-child(2) {
    left: 200px;
  }
  .results-icons li:nth-child(3), .results-icons li:nth-child(4) {
    top: 0;
  }
  .results-icons li:nth-child(3) {
    left: 50px;
  }
  .results-icons li:nth-child(4) {
    left: 200px;
  }
}

@media (max-width: 350px) {
  .results h2 {
    font-size: 2.5rem;
  }
  .results-btn-container button {
    width: 105px;
    padding: 5px 10px;
    height: 50px;
  }
  .results-icons li:nth-child(1) {
    left: 50px;
  }
  .results-icons li:nth-child(2) {
    left: 150px;
  }
  .results-icons li:nth-child(3), .results-icons li:nth-child(4) {
    top: 0;
  }
  .results-icons li:nth-child(3) {
    left: 50px;
  }
  .results-icons li:nth-child(4) {
    left: 150px;
  }
}

@media (max-width: 300px) {
  .results h2 {
    font-size: 2rem;
  }
  .results-btn-container button {
    width: 86px;
    height: 40px;
    font-size: 1.2rem;
  }
  .results-icons li:nth-child(1) {
    left: 20px;
  }
  .results-icons li:nth-child(2) {
    left: 120px;
  }
  .results-icons li:nth-child(3), .results-icons li:nth-child(4) {
    top: 0;
  }
  .results-icons li:nth-child(3) {
    left: 20px;
  }
  .results-icons li:nth-child(4) {
    left: 120px;
  }
}
